@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-glass{
  backdrop-filter: blur(10px);
}

/* Contoh */
.input-span{
  @apply ml-1 text-sm text-gray-600
}

.transition-default{
  @apply transition-all duration-200 ease-out
}

.nav-link{
  @apply text-lg font-bold cursor-pointer  rounded-full px-3 py-1 hover:bg-yellow-400 hover:text-white
}

.bg-window{
  @apply bg-white bg-opacity-20 shadow-lg rounded-xl 
}